@font-face {
	font-family: 'MyriadPro';
    src: url('../../assets/font/MyriadPro-Regular.eot');
	src: local('☺'), url('../../assets/font/MyriadPro-Regular.woff') format('woff'), url('../../assets/font/MyriadPro-Regular.ttf') format('truetype'), url('../../assets/font/MyriadPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.47059;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
    cursor: default;
}

.main {
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    font-family: 'MyriadPro';
}

.content {
    width: 65%;
    margin: 0 auto; 
}

.active {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 20px;
}

.active__num {
    font-size: 22px;
    font-weight: 700px;   
}

.link {
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
    transition: 1s;
}

.round {
    display: flex;
}

.number {
    border-radius: 100px;
    width: 45px;
    height: 45px;
    text-align: center;
    background-color:rgb(49, 115, 202);
    margin-right: 20px;
}

.item__number {
    position: relative;
    top: 10px;
    color: white;
}

.nav {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.item__nav {
    width: 50%;
    text-decoration: none;
    color: black;
    height: 55px;
}

.item__nav:hover {
    text-decoration: underline;
    color: rgb(49, 115, 202);
    transition: ease .2s;
}

.maper {
    object-fit:inherit;
}

.img {
    display: flex;  
    flex-wrap: wrap; 
    transition: opacity 224ms linear;
}

.img__item {
    cursor: pointer;
    position: relative;
    width: 50%;
    background: black;
    opacity: 1;
    /* margin-bottom: 20px; */
}

.img__item:hover img {
    opacity: .4;
}


.img__text {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateY(-5%);
    transform: translateX(-50%);
    font-size: 30px;
    color: white;
    text-align: center;
}

.text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateY(-25%);
    transform: translateX(-50%);
    opacity: 0;
    color: rgba(255, 255, 255, 0.678);
    padding-top: 90px;
}

.img__item:hover .text{
    opacity: 1;
    transition: opacity 224ms linear;
}


.line {
    background-color: #184362;
    width: 100%;
    height: 45px;
    position: fixed;
    top: 0px;
    z-index: 2;
}

.line__text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line__item {
    margin-top: 9px;
    margin-left: 20px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.line__item:hover {
    text-decoration: underline;
    color: white;
    text-decoration-color: white;
}

.active__subnav {
    border: 1px solid inherit;
    border-radius: 5px;
    padding: 0 15px;
    background-color: #c2e812;
    text-decoration: none;
}


.footer {
    margin-top: 50px;
    display: flex;
}

.footer__item {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.footer__item-main {
    margin-bottom: 10px;
}

.footer__item-link {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.footer-social {
    display: flex;
}

.social {
    margin-left: 10px;
}

.social:first-child {
    margin-left: 0;
}

.link__social {
    cursor: pointer;
    color:rgb(49, 115, 202)
}

.logo__down {
    opacity: .3;
}