.background_block {
    width: 101.8%;
    background-color: #f6f7f3;
    height: 600px;
    margin-left: -12px;
}

.messenger {
    width: 95%;
    background-color: white;
    margin: 0 auto;
    overflow: scroll;
    height: 98%;
    border-radius: 0 0 5px 5px;
    padding: 0;
    border: none;
    overflow-x: hidden;
}

.messenger_area {
    display: flex;
    margin-top: 30px;
}

.avatar {
    border-radius: 50px;
    width: 60px
}

.messenger_left {
    display: flex;
    padding-left: 20px;
    width: 350px;
}

.messenger_info {
    flex-direction: column;
    margin-left: 15px;
    /* margin-top: 15px; */
}

.messenger_right {
    width: 940px;
    padding-right: 20px;
}

.messenger_date {
    font-size: 14px;
}

.messenger_name {
    font-weight: 500;
    margin-top: 10px;
}

.messenger_text {
    margin-top: 10px;
    font-weight: 300;
}

.form {
    margin-top: 15px;
    margin-bottom: 40px;
    width: 95% !important;
    margin-left: -12px;
    display: flex;
}


.button_send {
    background-color: inherit;
    border: none;
    position: relative;
    left: 90px;
    margin-left: -80px;
}

.form-comment {
    width: 1600px !important ;
    overflow: hidden;
    white-space: nowrap;
}


.button_send:hover {
    transition: .5s;
    transform: scale(1.1);   
}

.button_send:not(hover) {
    transition: .3s;
}