@font-face {
	font-family: 'MyriadPro';
    src: url('../font/Myriad/MyriadPro-Regular.eot');
	src: local('☺'), url('../font/Myriad/MyriadPro-Regular.woff') format('woff'), url('../font/Myriad/MyriadPro-Regular.ttf') format('truetype'), url('../font/Myriad/MyriadPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro';
    src: url('../font/Myriad/MyriadPro-Bold.eot');
	src: local('☺'), url('../font/Myriad/MyriadPro-Regular.woff') format('woff'), url('../font/Myriad/MyriadPro-Regular.ttf') format('truetype'), url('../font/Myriad/MyriadPro-Regular.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica';
    src: url('../font/Helvetica/HelveticaNeueCyr-Light.eot');
	src: local('☺'), url('../font/Helvetica/HelveticaNeueCyr-Light.woff') format('woff'), url('../font/Helvetica/HelveticaNeueCyr-Light.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica';
    src: url('../font/Helvetica/HelveticaNeueCyr-Roman.eot');
	src: local('☺'), url('../font/Helvetica/HelveticaNeueCyr-Roman.woff') format('woff'), url('../font/Helvetica/HelveticaNeueCyr-Roman.ttf') format('truetype');
	font-weight: 450;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica';
    src: url('../font/Helvetica/HelveticaNeueCyr-Medium.eot');
	src: local('☺'), url('../font/Helvetica/HelveticaNeueCyr-Medium.woff') format('woff'), url('../font/Helvetica/HelveticaNeueCyr-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

body {
    font-family: 'Helvetica', sans-serif !important;
    font-weight: 400;
    scroll-behavior: smooth;
}

.correct {
    border: 1px solid green
}

.no-tab {
    cursor: no-drop !important;
}

.wrong {
    border: 1px solid red;
}

.button-check {
    margin-top: 60px;
}

.hint-answer {
    width: 200px;
    height: 50px;
    background-color: rgba(160, 160, 160, 0.603);
    margin-top: 10px;
    word-wrap: break-word;
}

.hide {
    display: none;
}

/* MODAL */
.modal.open {
    display: flex;
}

.overlay {
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(0,0,0,0.3);
}

.modal__block {
    display: flex;
    margin: auto;
    top: 25%;
    position: relative;
    max-width: 640px;
    max-height: 600px;
    padding: 20px;
    background-color: #fff;
}

.modal__subtitle {
    font-size: 14px;
    margin-bottom: 14px;
}

.modal__title {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 30px;
}

.modal__close {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.modal__label {
    display: flex;
    margin-bottom: 12px;
    align-items: center;
}

.modal__label-text {
    min-width: 105px;
    font-size: 14px;
    margin-right: 20px;
}

.modal__input {
    flex-grow: 1;
    border-style: solid;
    border-width: 1px;
    border-color: transparent transparent #000 transparent ;
}

.modal__submit {
    margin-top: 20px;
}

.about {
    display: flex;
    flex-wrap: wrap;
}

.about__item {
    max-width: 25%;
    padding-left: 20px;
}

.about__item-main {
    display: flex;
    height: 60px;
    margin-bottom: 5px;
}

.about__img {
    width: 50px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__title {
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.link {
    text-decoration: none;
}

.close {
    animation: alertClose .6s forwards;
}

@keyframes alertClose {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Новый дизайн страницы */

.body {
    background-color: #f0f1ef !important;
}

.header {
    margin-top: 30px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.reg_btn {
    border: 1px solid #2B6ADE; 
    color: #2B6ADE !important;
    box-sizing: border-box;
    height: 57px;
    width: 176px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 18px;
    margin-top: 14px;
}

.unreg_btn {
    border: 1px solid rgb(233, 83, 83); 
    color: rgb(233, 83, 83) !important;
    box-sizing: border-box;
    height: 57px;
    width: 176px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 18px;
    margin-top: 14px;
}

.nav_link {
    margin-left: 54px;
    margin-top: 34px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    color: #000000;
}

a {
    color: black !important;
    text-decoration: none !important;
}

.dropdown-menu {
    background-color: inherit !important;
    border: none !important;
}

.dropdown-item {
    font-weight: 300 !important;
    padding-left: 0 !important;
    width: 150px !important;
}

.dropdown-item:focus {
    background-color: #f0f1ef !important;
    color: #2B6ADE !important;
}

/* main */

.wrapper {
    display: flex;
    justify-content: space-around;
}

.main_image {
    position: absolute;
    right: 0;
    margin-top: -20px;
}

.title {
    font-size: 80px;
    line-height: 74px;
    margin-top: 250px;
}

.simple_text {
    margin-top: 35px;
    font-size: 18px;
    line-height: 24px;
}

.btn_find {
    position: relative;
    top: 20px;
    background-color: #2B6ADE;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
    color: white !important;
}

.pluses {
    margin-top: 360px;
}

.card_plus {
    position: relative;
    top: 120px;
    display: flex;
}

.cards_plus {
    background-color: #F5F6F4;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.22);
    border-radius: 16px;
    width: 409px;
    height: 246px;
    z-index: 200;
    margin-left: 30px;
}

.cards_plus:first-child {
    margin-left: 0;
}

.plus_title {
    font-size: 30px;
    line-height: 28px;
    color: #2B6ADE;
}

.plus_text {
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    color: #0C1531;
    margin-top: 15px;
}

.plus_content {
    padding: 32px;
}

.arrow_plus {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 230px;
}

.about_us {
    margin-top: 200px;
}

.about_left {
    position: relative;
    top: 60px;
}

.about_header {
    font-size: 60px;
    line-height: 95px;
    font-weight: 400;
    margin-bottom: 20px;
}

.about_text {
    width: 580px;
    font-size: 20px;
    line-height: 32px;
    font-weight: 300;
}

.about_blocks {
    display: flex;
}

.about_block {
    margin-left: 40px;
    margin-top: 48px;
}

.about_block:first-child {
    margin-left: 0;
}

.about_stat {
    font-size: 40px;
    line-height: 28px;
    color: #2B6ADE;
    font-weight: 450;
    margin-bottom: 9px;
    text-align: center;
}

.about_info {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    font-weight: 300;
}

.work {
    margin-top: 450px;
}

.work_block {
    display: flex;
}

li {
    list-style-type: none;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
    width: 520px;
}

ul {
    padding-left: 0 !important;
    font-weight: 400;
    font-size: 20px;
}

.work_right {
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
}

.list_group {
    position: relative;
    left: 30px;
    top: 15px;
}

.pay_header {
    padding-top: 200px;
}

.card_pay {
    height: 610px;
    width: 33%;
    background: #F5F6F4;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.22);
    margin-left: 30px;
}

.card_pay:first-child {
    margin-left: 0;
}

.button_more {
    background-color: #2B6ADE;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
    padding: 15px 30px;
    color: white !important;
    position: relative;
    top: 30px;
}

.card_style {
    text-align: center;
}

.card_title {
    padding-top: 180px;
    font-size: 34px;
    font-weight: 500;
}

.card_price {
    padding-top: 20px;
    color: #2B6ADE;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 30px;
}

.card_pluses {
    font-size: 18px;
    border-top: 1px solid #EBEBEB;
    width: 300px;
    margin: 0 auto;
    padding: 14px 0 14px 0;
}

.cards_pay {
    display: flex;
}

.reviews_blocks {
    display: flex;
}

.rews {
    width: 630px;
    height: 320px;
    background: #F5F6F4;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    margin-left: 30px;
}

.reviews_slider {
    display: flex;
    
}

.rews:first-child {
    margin-left: 0;
}

.rews_title {
    display: flex;
    margin-top: 240px;
    justify-content: space-between;
}

.arrow_slider {
    margin-left: 15px;
    cursor: pointer;
}

.arrow_slider:first-child {
    margin-left: 0;
}

.rews_arrow {
    margin-top: 30px;
}

.left_rews {
    width: 70%;
    padding-left: 30px;
}

.rews_img {
    width: 30%;
    height: 190px;
    position: relative;
    top: 115px;
    right: 20px;
}

.rews_content {
    width: 79px;
    height: 2px;
    background: #D0CCCC;
    margin-top: 40px;
}

.rews_inst {
    display: flex;
    padding-top: 30px;
}

.rews_text {
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    padding-top: 30px;
    width: 400px;
}

.rews_inst_name {
    font-size: 20px;
}

.arrow_slider:hover {
    transform: scale(1.2);
    transition: .5s;
}

.arrow_slider:not(:hover) {
    transition: .5s;
}

.questions {
    margin-top: 200px;
}

.accordion {
    margin-top: 90px !important;
}

.accordion-button {
    background-color: #f0f1ef !important;
    font-size: 22px !important;
    border-bottom: 1px solid rgba(0,0,0,.125) !important;
    padding: 1.4rem 1.25rem !important;
}

.accordion-item {
    background-color: #f0f1ef !important;
    font-size: 17px !important;
    border: none !important;
    font-weight: 300 !important;
}

.accordion-body {
    padding-bottom: 30px !important;
}

.with {
    margin-top: 250px;
}

.left_with {
    position: absolute;
    left: 0;
    margin-top: -150px;
}

.right_with {
    position: absolute;
    right: 0;
    margin-top: 150px;
}

.with_block {
    width: 850px;
    padding-top: 80px;
    margin: 0 auto;
    text-align: center;
}

.with_title {
    font-size: 70px;
    font-weight: 400;
    text-align: center;
}

.with_text {
    width: 500px;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    padding-top: 20px;
}

.with_input {
    background: #FCFCFC;
    border: 1px solid #D0CCCC;
    box-sizing: border-box;
    padding: 20px 10px;
    width: 500px;
}

.with_btn {
    color: white;
    font-size: 20px;
    background: #2B6ADE;
    border: #2B6ADE;
    padding: 18px 28px;
    position: relative;
    left: -4px;
    top: 1px;
}

.with_input::placeholder {
    color: black;
    opacity: 0.4;
}

.with_input:focus {
    color: black;
    background-color: #FCFCFC;
    border-color: #323336;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.with_reg {
    margin-top: 100px;
}

.footer {
    margin-top: 150px;
    background-color: #F5F6F4;
}

.footer_block {
    display: flex;
    flex-direction: column;
    width: 280px;
    margin-left: 40px;
}

.footer_title {
    margin-bottom: 30px;
}

.footer_logo {
    margin-right: 40px;
}

.footer_text {
    margin-bottom: 7px;
    font-size: 18px;
    font-weight: 300;

}

.footer_top {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.footer_input {
    margin-top: 80px;
    margin-left: 70px;
}

.footer_email {
    background: #FCFCFC;
    border: 1px solid #D0CCCC;
    box-sizing: border-box;
    padding: 15px 6px;
    width: 400px;
}

.footer_btn {
    color: white;
    font-size: 17px;
    background: #2B6ADE;
    border: #2B6ADE;
    padding: 15px 10px;
    /* margin-left: -4px;
    margin-top: 1px; */
    position: absolute;
}

.footer_btn::placeholder {
    color: black;
    opacity: 0.4;
}

.footer_btn:focus {
    color: white;
    background-color: #2B6ADE;
    border-color: #323336;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.footer_links {
    margin-left: 70px;
    margin-top: 40px;
    padding-bottom: 40px;
}

.footer_link {
    margin-left: 50px;
}

.footer_link:first-child {
    margin-left: 0px;
}